@import "tailwindcss";
@plugin "daisyui";

.plus-jakarta-sans,
.font-pjs {
	font-family: "Plus Jakarta Sans", sans-serif;
}

.inter {
	font-family: "Inter", sans-serif;
}

.inter,
.plus-jakarta-sans,
.font-pjs {
	font-optical-sizing: auto;
}

.menu-btn {
	anchor-name: --mobile-menu-anchor;
}

.mobile-popover {
	position-anchor: --mobile-menu-anchor;
	top: anchor(bottom);
	right: anchor(right);
	margin-top: 8px;
}
