@import "tailwindcss";
@plugin "daisyui";

.plus-jakarta-sans,
.font-pjs {
	font-family: "Plus Jakarta Sans", sans-serif;
}

.inter {
	font-family: "Inter", sans-serif;
}

.inter,
.plus-jakarta-sans,
.font-pjs {
	font-optical-sizing: auto;
}
